/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow: hidden;
}

button:focus {
    outline: none;
}

@responsive {
    .transition-width {
        transition-property: width;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .min-height-10 {
        min-height: 2.5rem;
    }

    .min-width-32 {
        min-width: 8rem;
    }
}
