/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow: hidden;
}
@responsive{
    .transition-width{
        transition-property: width;
    }
    .bg-menubar{
        background-color: #001529;
    }
    .bg-logo{
        background-color: #001529;
    }
    .flex-center{
        justify-content: center;
        align-items: center;
    }
}
